<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <h1>Customer Table Reservation form</h1>
                <hr>
                <form class="form-horizontal" ng-submit="#" novalidate>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-10">
                            <input type="firstName" class="form-control" id="firstName" placeholder="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-10">
                            <input type="lastName" class="form-control" id="lastName" placeholder="firstName">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type="date" class="form-control" id="date" placeholder="date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Time</label>
                        <div class="col-sm-10">
                            <input type="time" class="form-control" id="time" placeholder="hh:mm ss">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Adults</label>
                        <div class="col-sm-10">
                            <input type="adults" class="form-control" id="adults" placeholder="(+18yrs)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Children</label>
                        <div class="col-sm-10">
                            <input type="children" class="form-control" id="children" placeholder="(2-17yrs)">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Contact Details</label>
                        <div class="col-sm-10">
                            <input type="contactDetails" class="form-control" id="contactDetails" placeholder="contactDetails">
                        </div>
                    </div>
                    <button type="submit" ng-disabled="personForm.$invalid" class="btn btn-primary">Reserve Table</button>
                    <button  class="btn btn-primary">Edit/cancel Reservation</button>
                </form>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
</div>