<div class="container">
    <!-- Call to Action Well -->
    <div class="row">
        <div class="col-lg-12">
            <div class="well text-center">
                <form class="form-horizontal">
                    <div class="form-group">
                        <h1>ABOUT US </h1>
                       <p>
                           We love restaurants as much as you do. That’s why we’ve been helping them fill tables since 1999.
                           Whether you’re browsing for a quick bite or planning a big night, Restaurant.com will help you discover the perfect dining experience.
                           Your new favorite restaurant is out there – go ahead, dig in!
                       </p>
                        <p>
                            The only thing better than going out for a great meal, is getting a great deal. The euphoria
                            of discovering your new favorite burrito place, the sense of victory when you snag a deal
                            for the best steakhouse in town, and the sheer satisfaction of settling into the booth at the
                            breakfast spot on the corner are the feelings we live for. Restaurant.com is your destination
                            for dining whether you like to plan ahead or find a meal on the fly. We love restaurants as
                            much as you do; that’s why we’ve been helping them fill tables since 1999. Whether you’re
                            browsing for a quick bite or planning a big night, Restaurant.com will help you discover the
                            perfect dining experience. Your new favorite restaurant is out there – go ahead, dig in.
                        </p>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->
</div>
<!-- /.container -->
